@charset "UTF-8";

body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-image: url(../images/white-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}
p{
    font-size: larger;
    text-align: center;
}
ol{
    font-size: larger;
    text-align: center;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr{
    position: relative;
    margin-top: 20px;
    opacity: 45%;
}

footer{
    color: slategray;
}

.body{
    position: relative;
    width: 900px;
    left: 200px;
}

.specialtab{
    position: inherit;
    width: 400px;
    left: 250px;
}

.boldedHeading {
    font-weight: bold;
    position: relative;
    text-align: center;
    font-size: 40px;
}

.lists {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: medium;
}

.backgroundimage {
    background-image: url(../images/board-bg.png);
    background-size: cover;
}

.navbar {
    position: relative;
    overflow: hidden;
    float: right;
    color: transparent;
    transition: top 0.3s;
    z-index: 1;
    padding-right: 163px;
    padding-top: 20px;
    font-size: 5px;
}

.navbar a {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    float: right;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 1;
    font-size: small;
}

.navbar a:hover {
    color: lightgrey;
    text-decoration: underline;
}

.navbar a.active {
    background-color: #04AA6D;
    color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    right: 0px;
    
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

.headerCustom {
    padding: 165px;
    text-align: center;
    font-weight: 700px;
    text-emphasis-color: white;
    color: white;
    font-size: 40px;
    text-transform: lowercase;
}

.footer{
    position: static;
}